<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Resume / Raul Martinez Jr.</title>
	<meta name="description" content="Raul Martinez's resume.">
	<meta name="author" content="Raul Martinez">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="css/default.css">
	<link rel="stylesheet" href="css/layout.css">
   <link rel="stylesheet" href="css/media-queries.css">
   <link rel="stylesheet" href="css/magnific-popup.css">

   <!-- Script
   ================================================== -->
	<script src="js/modernizr.js"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.png" >

</head>

<body>

   <!-- Header
   ================================================== -->
   <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
            <li><a class="smoothscroll" href="#about">About</a></li>
	         <li><a class="smoothscroll" href="#resume">Resume</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">I'm Raul Martinez.</h1>
            <h3>I'm a <span>Computer Engineering</span> student from <span>the Rio Grande Valley</span>. Let's <a class="smoothscroll" href="#about">start scrolling</a>
            and learn more <a class="smoothscroll" href="#about">about me</a>.</h3>
            <hr />
            <ul class="social">
               <li><a target="blank" href="https://github.com/rmartinez96"><i class="fa fa-github"></i></a></li>
               <li><a target="blank" href="https://www.facebook.com/rmtz96?ref=bookmarks"><i class="fa fa-facebook"></i></a></li>
               <li><a target="blank" href="https://twitter.com/DevoluAve"><i class="fa fa-twitter"></i></a></li>
               <li><a target="blank" href="https://www.linkedin.com/in/rmartinez96"><i class="fa fa-linkedin"></i></a></li>
               <li><a target="blank" href="https://www.instagram.com/raul.ai/"><i class="fa fa-instagram"></i></a></li>
               <li><a href="mailto:raul.martinez01@utrgv.edu"><i class="fa fa-envelope"></i></a></li>
            </ul>
         </div>
      </div>

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->


   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row">

         <div class="three columns">

            <img class="profile-pic"  src="images/profilepic.jpg" alt="" />

         </div>

         <div class="nine columns main-col">

            <h2>About Me</h2>

            <p>I am currently a college student and reside from the Rio Grande Valley in South Texas. I study Computer Hardware Engineering at the University of Texas Rio Grande Valley. I will be recieving my Bachelor's of Science in Computer Engineering on December 2018. I partake in our university's Student Government Asssociation. I hold position as Secretary of Communications to aid the student body. 
            </p>

            <div class="row">

               <div class="columns contact-details">

                  <h2>Contact Details</h2>
                  <p class="address">
						   <span>Raul Martinez Jr.</span><br>
						   <span>33574 FM 803<br>
						         Los Fresnos, Texas 78566
                     </span><br>
						   <span>(956)410-9033</span><br>
                     <span>anyone@website.com</span>
					   </p>

               </div>

               <div class="columns download">
                  <p>
                     <a target="blank" href="/assets/resume-101817.pdf" class="button"><i class="fa fa-download"></i>Download Resume</a>
                  </p>
               </div>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->


   <!-- Resume Section
   ================================================== -->
   <section id="resume">

      <!-- Education
      ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Education</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>University of Texas Rio Grande Valley</h3>
                  <p class="info">Bachelor's of Science in Computer Engineering <span>&bull;</span> <em class="date">December 2018</em></p>

                  <p>
                  Relevant Coursework:<br/>
                  Introduction to VLSI Design<br/>
                  Algorithms and Data Structures<br/>
                  Microcontroller and Embedded Systems Lab<br/>
                  Computer Architecture
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Education -->


      <!-- Work
      ----------------------------------------------- -->
      <div class="row work">

         <div class="three columns header-col">
            <h1><span>Work</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>University of Texas Rio Grande Valley</h3>
                  <p class="info">Graphic Designer <span>&bull;</span> <em class="date">November 2015 - Present</em></p>

                  <p>
                     Created logos, flyers, posters, and advertisements for two University Campuses.<br/>
                     Able to travel campuses for team and administration projects.<br/>
                     Generate positive results for on-time projects and use modern design layouts for current businesses.<br/>
                     Expand communication skills with higher administration and group conversations regarding multiple discussions.<br/>
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>Castle A/C Equipment and Repairs</h3>
                  <p class="info">Graphic Designer / Web Developer <span>&bull;</span> <em class="date">May 2015 - August 2015</em></p>

                  <p>
                   Able to boost advertisements and manage company websites<br/>
                   Generate positive results by increasing profitability using current marketing techniques<br/>
                   Introduce more sales and profit to the company and prepare spreadsheets of item inventory using Excel
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Work -->


      <!-- Skills
      ----------------------------------------------- -->
      <div class="row skill">

         <div class="three columns header-col">
            <h1><span>Qualifications</span></h1>
         </div>

         <div class="nine columns main-col">

            <p>• Familiar with the construction and design in computer hardware.<br/>
               • Able to design intergrated circuits using VLSI Cadence and testing with LVS and other embedded softwares<br/>
               • Familiar with GUI in the Java environment<br/>
               • Able to code and design alorgithms and data structures using C++<br/>
               • Able to code in C using the Linux environment<br/>
               • Able to implement a web site using HTML5, CSS3, Javascipt, and Bootstrap<br/>
               • Certified in designing and building graphics using Adobe Photoshop CS6 and Dreamweaver CS6<br/>
               • Developed extensive proficiency in mentoring students using sohpisticated programs on computers<br/>
               • Able to create databases using Microsoft Access and implementing towards a Java GUI class<br/>
               • Able to work with different operating systems such as macOS, Windows, and Linux<br/>
               • Able to adapt to any type of setting including programming teams and higher adminstration groups<br/>
               • Able to work under pressure and submit projects on time<br/>
               • Fluent in writing and speaking Spanish
            </p>

				<div class="bars">

				   <ul class="skills">
					   <li><span class="bar-expand photoshop"></span><em>Photoshop</em></li>
                  <li><span class="bar-expand illustrator"></span><em>Illustrator</em></li>
						<li><span class="bar-expand wordpress"></span><em>Wordpress</em></li>
						<li><span class="bar-expand css"></span><em>CSS</em></li>
						<li><span class="bar-expand html5"></span><em>HTML5</em></li>
                  <li><span class="bar-expand jquery"></span><em>jQuery</em></li>
					</ul>

				</div><!-- end skill-bars -->

			</div> <!-- main-col end -->

      </div> <!-- End skills -->

   </section> <!-- Resume Section End-->

   <!-- Call-To-Action Section
   ================================================== -->
   <section id="call-to-action">

      <div class="row">

         <div class="two columns header-col">

            <h1 ><span></span></h1>

         </div>

         <div class="seven columns">

            <h2><span class="lead">Check out my work on GitHub</span></h2>
            <p><span class="lead">My past and current projects have been made public on GitHub. There are mostly projects I have coded in C++.</span></p>

         </div>

         <div class="three columns action">
            <a target="blank" href="https://github.com/rmartinez96" class="button"><i class="fa fa-github"></i> Go Now</a>
         </div>

      </div>

   </section> <!-- Call-To-Action Section End-->

   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
               <li><a target="blank" href="https://github.com/rmartinez96"><i class="fa fa-github"></i></a></li>
               <li><a target="blank" href="https://www.facebook.com/rmtz96?ref=bookmarks"><i class="fa fa-facebook"></i></a></li>
               <li><a target="blank" href="https://twitter.com/DevoluAve"><i class="fa fa-twitter"></i></a></li>
               <li><a target="blank" href="https://www.linkedin.com/in/rmartinez96"><i class="fa fa-linkedin"></i></a></li>
               <li><a target="blank" href="https://www.instagram.com/raul.ai/"><i class="fa fa-instagram"></i></a></li>
               <li><a href="mailto:raul.martinez01@utrgv.edu"><i class="fa fa-envelope"></i></a></li>
            </ul>

            <ul class="copyright">
               <li>&copy; Copyright 2014 Raul Martinez</li>  
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>

   <script src="js/jquery.flexslider.js"></script>
   <script src="js/waypoints.js"></script>
   <script src="js/jquery.fittext.js"></script>
   <script src="js/magnific-popup.js"></script>
   <script src="js/init.js"></script>

</body>

</html>