<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta name='viewport' content="initial-scale=1, viewport-fit=cover">
   <meta charset="utf-8">
	<title>Resume / Raul Martinez Jr.</title>
	<meta name="description" content="Raul Martinez's resume.">
	<meta name="author" content="Raul Martinez">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="css/default.css">
	<link rel="stylesheet" href="css/layout.css">
   <link rel="stylesheet" href="css/media-queries.css">
   <link rel="stylesheet" href="css/magnific-popup.css">

   <!-- Script
   ================================================== -->
	<script src="js/modernizr.js"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="/favicon/favicon.ico">
   <link rel="icon" sizes="16x16 32x32 64x64" href="/favicon/favicon.ico">
   <link rel="icon" type="image/png" sizes="196x196" href="/favicon/favicon-192.png">
   <link rel="icon" type="image/png" sizes="160x160" href="/favicon/favicon-160.png">
   <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96.png">
   <link rel="icon" type="image/png" sizes="64x64" href="/favicon/favicon-64.png">
   <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32.png">
   <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16.png">
   <link rel="apple-touch-icon" href="/favicon/favicon-57.png">
   <link rel="apple-touch-icon" sizes="114x114" href="/favicon/favicon-114.png">
   <link rel="apple-touch-icon" sizes="72x72" href="/favicon/favicon-72.png">
   <link rel="apple-touch-icon" sizes="144x144" href="/favicon/favicon-144.png">
   <link rel="apple-touch-icon" sizes="60x60" href="/favicon/favicon-60.png">
   <link rel="apple-touch-icon" sizes="120x120" href="/favicon/favicon-120.png">
   <link rel="apple-touch-icon" sizes="76x76" href="/favicon/favicon-76.png">
   <link rel="apple-touch-icon" sizes="152x152" href="/favicon/favicon-152.png">
   <link rel="apple-touch-icon" sizes="180x180" href="/favicon/favicon-180.png">
   <meta name="msapplication-TileColor" content="#FFFFFF">
   <meta name="msapplication-TileImage" content="/favicon/favicon-144.png">
   <meta name="msapplication-config" content="/favicon/browserconfig.xml">

</head>

<body>

   <!-- Header
   ================================================== -->
   <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
            <li><a class="smoothscroll" href="#about">About</a></li>
	         <li><a class="smoothscroll" href="#resume">Resume</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">I'm Raul Martinez.</h1>
            <h3>I'm a <span>Computer Engineering</span> student from <span>the Rio Grande Valley</span>. Let's <a class="smoothscroll" href="#about">start scrolling</a>
            and learn more <a class="smoothscroll" href="#about">about me</a>.</h3>
            <hr />
            <ul class="social">
               <li><a target="blank" href="https://github.com/rmartinez96"><i class="fa fa-github"></i></a></li>
               <li><a target="blank" href="https://www.linkedin.com/in/rmartinez96"><i class="fa fa-linkedin"></i></a></li>
               <li><a target="blank" href="https://www.instagram.com/raul.ai/"><i class="fa fa-instagram"></i></a></li>
               <li><a href="mailto:raul.martinez01@utrgv.edu"><i class="fa fa-envelope"></i></a></li>
            </ul>
         </div>
      </div>

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->


   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row">

         <div class="three columns">

            <img class="profile-pic" src="images/profilepic.jpg" alt="" />

         </div>

         <div class="nine columns main-col">

            <h2>About Me</h2>

            <p>I am currently a senior studying for a Bachelors of Science in Computer Engineering at the University of Texas Rio Grande Valley in South Texas. I am expecting to receive my degree within the next year with expected graduation December 2018. Over my lifetime as an undergraduate I have taken part in the SGA (Student Government Association), member of the Association of Computing Machinery, and created a student organization on campus. I aspire to go into the field  of integrated circuits and work as a hardware designer, microprocessor designer, or micro-controller.  
            </p>

            <div class="row">

               <div class="columns contact-details">

                  <h2>Contact Details</h2>
                  <p class="address">
						   <span>Raul Martinez Jr.</span><br>
						   <span>33574 FM 803<br>
						         Los Fresnos, Texas 78566
                     </span><br>
						   <span>(956)410-9033</span><br>
                     <span><a href="mailto:raul.martinez01@utrgv.edu">raul.martinez01@utrgv.edu</a></span>
					   </p>

               </div>

               <div class="columns download">
                  <p>
                     <a target="blank" href="/assets/resume-122617.pdf" class="button"><i class="fa fa-download"></i>Download Resume</a>
                  </p>
               </div>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->


   <!-- Resume Section
   ================================================== -->
   <section id="resume">

      <!-- Education
      ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Education</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>University of Texas Rio Grande Valley</h3>
                  <p class="info">Bachelor's of Science in Computer Engineering <span>&bull;</span> <em class="date">December 2018</em></p>

                  <h4>Relevant Coursework:</h4>
                  <ul>
                     <li>Introduction to VLSI Design</li>
                     <li>Algorithms and Data Structures</li>
                     <li>Microcontroller and Embedded Systems Lab</li>
                     <li>Computer Architecture</li>
                  </ul>
                  <h4>Relevant Assigments</h4>
                  <ul>
                     <li><a target="blank" href="https://github.com/rmartinez96/Directed-Graph">Directed Graph (C++)</a></li>
                     <li><a target="blank" href="https://github.com/rmartinez96/Two-Phase-Sic-Assembly">2 Pass Assembler (C)</a></li>
               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Education -->


      <!-- Work
      ----------------------------------------------- -->
      <div class="row work">

         <div class="three columns header-col">
            <h1><span>Work</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">

                  <h3>University of Texas Rio Grande Valley</h3>
                  <p class="info">Graphic Designer <span>&bull;</span> <em class="date">November 2015 - Present</em></p>

                  <p>
                     <ul>
                        <li>Created logos, flyers, posters, and advertisements for two University Campuses.</li>
                        <li>Able to travel campuses to team and administration projects.</li>
                        <li>Generated positive results for timely projects and use modern design layouts for current businesses.</li>
                        <li>Created logos, flyers, posters, and advertisements for multiple university campuses to increase event attendance from the campus community.</li>
                        <li>Expand communication skills with higher administration and group conversations regarding multiple discussions.</li>
                        <li>Designed over 100 artwork since 2015.</li>
                     </ul>
                  </p>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>Castle A/C Equipment and Repairs</h3>
                  <p class="info">Graphic Designer / Web Developer <span>&bull;</span> <em class="date">May 2015 - August 2015</em></p>

                  <p>
                     <ul>
                        <li>Able to boost advertisements and manage company websites</li>
                        <li>Generate positive results by increasing profitability using current marketing techniques</li>
                        <li> Introduce more sales and profit to the company and prepare spreadsheets of item inventory using Excel</li>
                     </ul>
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Work -->


<!-- Leadership Activities and Honors
      ----------------------------------------------- -->
      <div class="row education">

         <div class="three columns header-col">
            <h1><span>Leadership/Honors</span></h1>
         </div>

         <div class="nine columns main-col">

            <div class="row item">

               <div class="twelve columns">
                  <h3>Dyscovery at UTRGV</h3>
                  <p class="info">President<span>&bull;</span> <em class="date">2017 — Present</em></p>
                  <ul>
                     <li>Establish the organization at the university</li>
                     <li>Program and manage an ogranization in professionalism and leadership
</li>
                  </ul>
   
               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">
                  <h3>UTRGV Student Government Association</h3>
                  <p class="info">Secretary of Communications<span>&bull;</span> <em class="date">2016 — Present</em></p>
                  <ul>
                     <li>Have clear connections towards university marketing and adminsitration team</li>
                     <li>Implement new initiatives that will better the ogranization and the university
</li>
                  </ul>
   
               </div>

            </div> <!-- item end -->

             <div class="row item">

               <div class="twelve columns">
                  <h3>Scholarships</h3>
                  <p class="info">UTRGV Excellence Scholarship<span>&bull;</span> <em class="date">2015</em></p>
                  <p class="info">UTRGV Engineering Scholarship<span>&bull;</span> <em class="date">2015</em></p>
                  <p class="info">UTRGV President's List / Dean's List<span>&bull;</span> <em class="date">2015</em></p>
   
   
               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </div> <!-- End Leadership Activities and Honors -->






      <!-- Skills
      ----------------------------------------------- -->
      <div class="row skill">

         <div class="three columns header-col">
            <h1><span>Qualifications</span></h1>
         </div>

         <div class="nine columns main-col">

            <p>
               <ul>
                  <li>Familiar with the construction and design in computer hardware.</li>
                  <li>Able to design intergrated circuits using VLSI Cadence and testing with LVS and other embedded softwares</li>
                  <li>Familiar with GUI in the Java environment</li>
                  <li>Able to code and design alorgithms and data structures using C++</li>
                  <li>Able to code in C using the Linux environment</li>
                  <li>Able to implement a web site using HTML5, CSS3, Javascipt, and Bootstrap</li>
                  <li>Certified in designing and building graphics using Adobe Photoshop CS6 and Dreamweaver CS6</li>
                  <li>Able to work with different operating systems such as macOS, Windows, and Linux</li>
                  <li>Able to adapt to any type of setting including programming teams and higher adminstration groups</li>
                  <li>Able to create databases using Microsoft Access and implementing towards a Java GUI class</li>
                  <li>Developed extensive proficiency in mentoring students using sohpisticated programs on computers</li>
                  <li>Able to work under pressure and submit projects on time</li>
                  <li>Fluent in writing and speaking Spanish</li>
               </ul>
            </p>

				<div class="bars">

				   <ul class="skills">
					   <li><span class="bar-expand design"></span><em>Photoshop/Illustrator/inDesign</em></li>
                  <li><span class="bar-expand csshtml"></span><em>CSS / HTML</em></li>
						<li><span class="bar-expand Cplusplus"></span><em>C++</em></li>
						<li><span class="bar-expand javas"></span><em>Java</em></li>
						<li><span class="bar-expand cc"></span><em>C</em></li>
                  <li><span class="bar-expand VLSIdesign"></span><em>VLSI Design (Using Cadence Software)</em></li>
					</ul>

				</div><!-- end skill-bars -->

			</div> <!-- main-col end -->

      </div> <!-- End skills -->

   </section> <!-- Resume Section End-->

   <!-- Call-To-Action Section
   ================================================== -->
   <section id="call-to-action">

      <div class="row">

         <div class="two columns header-col">

            <h1 ><span></span></h1>

         </div>

         <div class="seven columns">

            <h2><span class="lead">Check out my work on GitHub</span></h2>
            <p><span class="lead">My past and current projects have been made public on GitHub. There are mostly projects I have coded in C++.</span></p>

         </div>

         <div class="three columns action">
            <a target="blank" href="https://github.com/rmartinez96" class="button"><i class="fa fa-github"></i> Go Now</a>
         </div>

      </div>

   </section> <!-- Call-To-Action Section End-->

   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
               <li><a target="blank" href="https://github.com/rmartinez96"><i class="fa fa-github"></i></a></li>
               <li><a target="blank" href="https://www.linkedin.com/in/rmartinez96"><i class="fa fa-linkedin"></i></a></li>
               <li><a target="blank" href="https://www.instagram.com/raul.ai/"><i class="fa fa-instagram"></i></a></li>
               <li><a href="mailto:raul.martinez01@utrgv.edu"><i class="fa fa-envelope"></i></a></li>
            </ul>

            <ul class="copyright">
               <li>&copy; Copyright 2014 Raul Martinez</li>  
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>

   <script src="js/jquery.flexslider.js"></script>
   <script src="js/waypoints.js"></script>
   <script src="js/jquery.fittext.js"></script>
   <script src="js/magnific-popup.js"></script>
   <script src="js/init.js"></script>

</body>

</html>