<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta name='viewport' content="initial-scale=1, viewport-fit=cover">
   <meta charset="utf-8">
	<title>Portfolio / Raul Martinez Jr.</title>
	<meta name="description" content="Raul Martinez's resume.">
	<meta name="author" content="Raul Martinez">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="css/default.css">
	<link rel="stylesheet" href="css/layout.css">
   <link rel="stylesheet" href="css/media-queries.css">
   <link rel="stylesheet" href="css/magnific-popup.css">


   <!-- Script
   ================================================== -->
	<script src="js/modernizr.js"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="/favicon/favicon.ico">
   <link rel="icon" sizes="16x16 32x32 64x64" href="/favicon/favicon.ico">
   <link rel="icon" type="image/png" sizes="196x196" href="/favicon/favicon-192.png">
   <link rel="icon" type="image/png" sizes="160x160" href="/favicon/favicon-160.png">
   <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96.png">
   <link rel="icon" type="image/png" sizes="64x64" href="/favicon/favicon-64.png">
   <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32.png">
   <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16.png">
   <link rel="apple-touch-icon" href="/favicon/favicon-57.png">
   <link rel="apple-touch-icon" sizes="114x114" href="/favicon/favicon-114.png">
   <link rel="apple-touch-icon" sizes="72x72" href="/favicon/favicon-72.png">
   <link rel="apple-touch-icon" sizes="144x144" href="/favicon/favicon-144.png">
   <link rel="apple-touch-icon" sizes="60x60" href="/favicon/favicon-60.png">
   <link rel="apple-touch-icon" sizes="120x120" href="/favicon/favicon-120.png">
   <link rel="apple-touch-icon" sizes="76x76" href="/favicon/favicon-76.png">
   <link rel="apple-touch-icon" sizes="152x152" href="/favicon/favicon-152.png">
   <link rel="apple-touch-icon" sizes="180x180" href="/favicon/favicon-180.png">
   <meta name="msapplication-TileColor" content="#FFFFFF">
   <meta name="msapplication-TileImage" content="/favicon/favicon-144.png">
   <meta name="msapplication-config" content="/favicon/browserconfig.xml">

</head>

<body>

   <!-- Navigation Bar
   ================================================== -->

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class="current"><a href="/">Home</a></li>
            <li><a href="#resume">Designs</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

  


   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row banner">

         <br>

         <div class="twelve columns">

            <div class="banner-text">
   
            <h1 class="responsive-headline" style="color:white;">Design Portfolio</h1>
            <br>
            <h4 style="color:white;">Graphic Design profolio working at the University of Texas Rio Grande Valley. Most designs were created for the UTRGV Student Government Association.</h4>
            <h4 style="color:white;">NOTE: Items are currently being added. These a few designs that I have uploaded.</h4>

            </div>
         </div>

       </div> <!-- end row -->

   </section> <!-- About Section End-->


   <!-- Resume Section
   ================================================== -->
   <section id="resume">

   <div class="row">

      <div class="four columns">

            <img  src="assets/graphic_design/resized/11x17-01.png" alt="" />

      </div>
       <div class="four columns">

            <img  src="assets/graphic_design/resized/23456656_1526090464137585_4725703519672124296_o.jpg" alt="" />

      </div>
      <div class="four columns">

            <img  src="assets/graphic_design/resized/ace_the_test-01.png" alt="" />

      </div>

   </div>

   <div class="row">

      <div class="four columns">

            <img  src="assets/graphic_design/resized/22792310_1508758342537464_7342763308997863919_o.jpg" alt=""/>

      </div>
       <div class="four columns">

            <img  src="assets/graphic_design/resized/agenda-B.png" alt="" />

      </div>
      <div class="four columns">

            <img  src="assets/graphic_design/resized/college_of_busi-entre-DRAFT.png" alt="" />

      </div>

   </div>


   <div class="row">

      <div class="four columns">

            <a href="assets/graphic_design/original/cover-01.png"><img  src="assets/graphic_design/resized/cover-01.png" alt=""/></a>

      </div>
       <div class="four columns">

            <img  src="assets/graphic_design/resized/SOSBA_2017-01.png" alt="" />

      </div>
      <div class="four columns">

            <a href="assets/graphic_design/original/TOP_FIX-01.png">><img  src="assets/graphic_design/resized/TOP_FIX-01.png" alt="" /></a>

      </div>

   </div>

      <div class="row">

      <div class="four columns">

            <img  src="assets/graphic_design/resized/Fresh_Start-01.png" alt=""/>

      </div>
       <div class="four columns">

            <img  src="assets/graphic_design/resized/freshstart-MAIN-01.png" alt="" />

      </div>
      <div class="four columns">

            <a href="assets/graphic_design/original/myUTRGV_banner-01.png"><img  src="assets/graphic_design/resized/myUTRGV_banner-01.png" alt="" /></a>

      </div>

   </div>

      <div class="row">

      <div class="four columns">

            <img  src="assets/graphic_design/resized/Invovement Fair-B.png" alt=""/>

      </div>
       <div class="four columns">

            <img  src="assets/graphic_design/resized/meditation_and_prayer-01.png" alt="" />

      </div>
      <div class="four columns">

            <img  src="assets/graphic_design/resized/original 2.png" alt="" />

      </div>

   </div>


      <div class="row">

      <div class="four columns">

            <img  src="assets/graphic_design/resized/original.png" alt=""/>

      </div>
       <div class="four columns">

            <img  src="assets/graphic_design/resized/block.png" alt="" />

      </div>
      <div class="four columns">

            <img  src="assets/graphic_design/resized/your_voice-01.png" alt="" />

      </div>

   </div>



      <div class="row">

      <div class="four columns">

            <img  src="assets/graphic_design/resized/senate_meetings-01.png" alt=""/>

      </div>
       <div class="four columns">

            <img  src="assets/graphic_design/resized/say_what-FREE-SCANTRONS-01.png" alt="" />

      </div>
      <div class="four columns">

            <img  src="assets/graphic_design/resized/fyi_block-01.png" alt="" />

      </div>

   </div>

      <div class="row">

      <div class="four columns">

            <img  src="assets/graphic_design/resized/which_positions2-01.png" alt=""/>

      </div>
       <div class="four columns">

            <img  src="assets/graphic_design/resized/travel_funds-BLOCK-NEW-01.png" alt="" />

      </div>
      <div class="four columns">

            <img  src="assets/graphic_design/resized/new_funds_FINAL3-01.png" alt="" />

      </div>

   </div>

      <div class="row">

      <div class="four columns">

            <img  src="assets/graphic_design/resized/original 3.png" alt=""/>

      </div>
       <div class="four columns">

            <img  src="assets/graphic_design/resized/v_runners-D1.png" alt="" />

      </div>
      <div class="four columns">

            <img  src="assets/graphic_design/resized/v-shirt-01.png" alt="" />

      </div>

   </div>

    </div>

      <div class="row">

      <div class="four columns">

            <a href="assets/graphic_design/original/sga_shirt-2.2-01.png"><img  src="assets/graphic_design/resized/sga_shirt-2.2-01.png" alt=""/></a>

      </div>
       <div class="four columns">

            <img  src="assets/graphic_design/resized/student_leader-1-01.png" alt="" />

      </div>
      <div class="four columns">

            <img  src="assets/graphic_design/resized/student_body_spirit_shirt_black.png" alt="" />

      </div>

   </div>

    <div class="row">

      <div class="four columns">

            <img  src="assets/graphic_design/resized/white_on_navy.jpg" alt=""/>

      </div>
    

   </div>


   </section> <!-- Resume Section End-->

   <!-- Call-To-Action Section
   ================================================== -->
   <section id="call-to-action">

      <div class="row">

         <div class="two columns header-col">

            <h1 ><span></span></h1>

         </div>

         <div class="seven columns">

            <h2><span class="lead">Check out my Resume</span></h2>
            <p><span class="lead">My resume is updated to the most current qualififations and work experience.</span></p>

         </div>

         <div class="three columns action">
            <a href="/#about" class="button"><i class="fa fa-file-text-o"></i> Go Now</a>
         </div>

      </div>

   </section> <!-- Call-To-Action Section End-->

   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
               <li><a target="blank" href="https://github.com/rmartinez96"><i class="fa fa-github"></i></a></li>
               <li><a target="blank" href="https://www.linkedin.com/in/rmartinez96"><i class="fa fa-linkedin"></i></a></li>
               <li><a target="blank" href="https://www.instagram.com/raul.ai/"><i class="fa fa-instagram"></i></a></li>
               <li><a href="mailto:raul.martinez01@utrgv.edu"><i class="fa fa-envelope"></i></a></li>
            </ul>

            <ul class="copyright">
               <li>&copy; Copyright 2018 Raul Martinez</li>  
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#about"><i class="icon-up-open"></i></a></div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
   <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>

   <script src="js/jquery.flexslider.js"></script>
   <script src="js/waypoints.js"></script>
   <script src="js/jquery.fittext.js"></script>
   <script src="js/magnific-popup.js"></script>
   <script src="js/init.js"></script>

</body>

</html>